.blogs__Section {
  display: flex;
}
.blog__description {
  color: #222;
}
.blog__Card {
  border: 1px solid slategrey;
  margin-bottom: 2rem;
}

.hyper__link {
  text-decoration: none;
  color: #000;
}
.side__list {
  display: flex;
  flex-direction: column;
}

.category__container {
  display: flex;
  justify-content: space-between;
}

.left__Side {
  flex: 0.7;
  width: 100%;
}

.left__Side .img__Container img {
  width: 70%;
}

.right__Side {
  flex: 0.3;
}
.right__Side .blog__Card img {
  width: 100%;
}

.right__Side .blog__Card h4 {
  font-size: small;
  font-weight: 700;
}

.right__Side .blog__Card {
  line-height: 1rem;
  margin: 0.02rem;
}

.right__Side .read__more {
  display: none;
}

@media only screen and (max-width: 600px) {
  .right__Side {
    display: none;
  }
  .left__Side {
    flex: 1;
  }
  .left__Side .img__Container img {
    width: 100%;
  }
}
