.blogs__Section {
  display: flex;
}
.blog__description {
  color: #222;
  font-style: italic;
}
.blog__Card {
  border: 1px solid slategrey;
  margin-bottom: 2rem;
}
.blog__Card:hover {
  transform: scale(1.01);
  transform: rotate(0.5deg);

  box-shadow: 10px 10px 31px -10px rgba(0, 0, 0, 0.75);
  transition: all 0.15s ease-in-out;
}

.img_fullNews img {
  width: 100%;
}
.hyper__link {
  text-decoration: none;
  color: #000;
}
.side__list {
  display: flex;
  flex-direction: column;
}

.category__container {
  display: flex;
  justify-content: space-between;
}

.left__Side {
  flex: 0.7;
  max-width: 768px;
  justify-content: space-between;
}

.left__Side .img__Container img {
  width: 100%;
}

.right__Side {
  flex: 0.3;
  position: fixed;
  right: 0;
}
.right__Side .blog__Card {
  display: flex;
  flex-direction: column;
}

.right__Side .blog__Card:hover {
  background-color: rgb(199, 199, 199);
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.right__Side .blog__Card img {
  display: flex;
  display: none;
}

.right__Side .blog__Card h4 {
  font-size: small;
  font-weight: 700;
}

.right__Side .blog__Card {
  line-height: 1rem;
  margin: 0.02rem;
}

.right__Side .read__more {
  display: none;
}

@media only screen and (max-width: 600px) {
  .right__Side {
    display: none;
  }
  .left__Side {
    flex: 1;
  }
  .left__Side .img__Container img {
    width: 100%;
  }
}

@media only screen and (max-width: 1400px) {
  .right__Side {
    display: none;
  }
}
